.thumbnailList {
  display: grid;
  overflow-x: scroll;

  gap: var(--prj-spacing-3);
  padding-bottom: var(--prj-spacing-2);

  grid-auto-columns: 25%;
  grid-auto-flow: column;
}

.thumbnailItem {
  width: 100%;
}

.thumbnailItem:hover {
  cursor: pointer;
}
