---
import { changeLanguage } from "i18next";
import type { InferGetStaticPropsType, GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Toc from "@components/Toc/Toc";

changeLanguage("es");

export const getStaticPaths = (async () => {
    const entries = await getCollection("blog");
    return entries.map((entry) => ({
        params: { slug: entry.slug },
        props: entry,
    }));
}) satisfies GetStaticPaths;
type Props = InferGetStaticPropsType<typeof getStaticPaths>;
const entry = Astro.props;
const { Content, headings } = await entry.render();
---

<Layout title={entry.data.title}>
  <Toc headings={headings} />

  <Content />
</Layout>
