---
import { LanguageSelector } from 'astro-i18next/components';
---

<LanguageSelector showFlag={false} class="selector" />

<style lang="scss">
  .selector {
    padding: var(--prj-spacing-1);
    border: 1px solid var(--prj-input);
    color: var(--prj-input-text);
    background-color: var(--prj-input);
    font-size: 0.9rem;
    border-radius: 4px;
  }
</style>
