<button id="btn-toggle" class="off-canvas-toggle" data-target="#mobile-nav">
  <svg
    width="40px"
    height="40px"
    viewBox="-2.4 -2.4 28.80 28.80"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    stroke=""
    stroke-width="0.00024000000000000003"
    transform="rotate(0)"
    ><g
      id="SVGRepo_bgCarrier"
      stroke-width="0"
      transform="translate(1.1999999999999993,1.1999999999999993), scale(0.9)"
      ><rect
        x="-2.4"
        y="-2.4"
        width="28.80"
        height="28.80"
        rx="2.88"
        fill="none"
        strokewidth="0"></rect></g
    ><g
      id="SVGRepo_tracerCarrier"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke="#CCCCCC"
      stroke-width="0.384"></g><g id="SVGRepo_iconCarrier">
      <path
        d="M2 5.5C2 4.94772 2.44772 4.5 3 4.5H21C21.5523 4.5 22 4.94772 22 5.5V6.5C22 7.05228 21.5523 7.5 21 7.5H3C2.44772 7.5 2 7.05228 2 6.5V5.5Z"
        fill="#cad3f5"></path>
      <path
        d="M2 11.5C2 10.9477 2.44772 10.5 3 10.5H21C21.5523 10.5 22 10.9477 22 11.5V12.5C22 13.0523 21.5523 13.5 21 13.5H3C2.44772 13.5 2 13.0523 2 12.5V11.5Z"
        fill="#cad3f5"></path>
      <path
        d="M3 16.5C2.44772 16.5 2 16.9477 2 17.5V18.5C2 19.0523 2.44772 19.5 3 19.5H21C21.5523 19.5 22 19.0523 22 18.5V17.5C22 16.9477 21.5523 16.5 21 16.5H3Z"
        fill="#cad3f5"></path>
    </g></svg
  >

  <span class="visually-hidden">Open sidebar</span>
</button>

<style lang="scss">
  button.off-canvas-toggle {
    width: 40px;
    height: 40px;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
  }
</style>
